blinker
click
colorama
Flask
flask-cors
iniconfig
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
packaging
pandas
pluggy
Pygments
pytest
python-dateutil
scikit-learn
scipy
six
threadpoolctl
tzdata
Werkzeug
xgboost
